<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vulnerabilities</title>
</head>
<style>
    
</style>
<body>
    <h2>Vulnerabilities for jQuery {{ version }}</h2>

    <ul>
        {% for vuln in vulnerabilities %}
            <li>
                <a href="{{ url_for('cve_details', vuln_link=vuln.vuln_link) }}">{{ vuln.vuln_title }}</a>
                <form method="GET" action="{{ url_for('cve_details', vuln_link=vuln.vuln_link) }}">
                    <button type="submit">Check CVE</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    <p style="color: red;">{{ error }}</p>
    
</body>
</html>
